
body {
 background-color: black;
 padding: 0px;
 margin: 0px;
}

.introText {
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  color: white;

  animation-name: introOpAnim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

p.introText {
  margin-top: 0px; 
  margin-bottom: 5px; 
  padding: 10px;
  font-family: "Verdana";
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  color: white;
  opacity: 1.0;
  background-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0) ,rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0));

  animation-name: introAnim;
  animation-duration: 2s;
  animation-fill-mode: forwards;  /* keeps anim after finished */
}

@keyframes introAnim {
  0% {font-size: 92px; padding: 50px;}
  40% {font-size: 92px; padding: 50px;}
  100% {font-size: 28px; padding: 10px;}
}

@keyframes introOpAnim {
  0% {opacity: 0.0;}
  40% {opacity: 0.0;}
  100% {opacity: 1.0;}
}


div.linksA {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.0;

  animation-name: linkOpAnim;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes linkOpAnim {
  0% {opacity: 0.0; margin-top: 20px;}
  60% {opacity: 0.0; margin-top: 20px;}
  100% {opacity: 1.0; margin-top: 0px;}
}

a.linksA {
  cursor: default;
}

button.linksA {
  padding: 10px;
  width: 310px;
  margin: 5px;
  align-content: center;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}

p.links {
  margin-top: 5px;
  margin-bottom: 0px;
}

p.linksA.gh {margin-top: 1px;} img.linksA.gh {padding-top: 3px;}
button.linksA.gh {
  padding-top: 3px;
  background-color: black;
  color: white;
}

div.links {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.0;

  animation-name: linkOpAnim;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes linkOpAnim {
  0% {opacity: 0.0; margin-top: 20px;}
  60% {opacity: 0.0; margin-top: 20px;}
  100% {opacity: 1.0; margin-top: 0px;}
}

a.links {
  cursor: default;
}

button.links {
  padding: 10px;
  width: 110px;
  margin: 5px;
  align-content: center;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}

p.links {
  margin-top: 5px;
  margin-bottom: 0px;
}

p.links.gh {margin-top: 1px;} img.links.gh {padding-top: 3px;}
button.links.gh {
  padding-top: 3px;
  background-color: black;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: white;
}

button.links.gh:hover {
  background-color: white;
  color: black;
}
