
body {
 background-color: black;
 padding: 0px;
 margin: 0px;
}
  
.introText {
  color: white;
}

.introText {
  background-image: url(images/smallbanner20.gif);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;

  animation-name: introOpAnim;
  animation-duration: 2s;
  animation-direction: forwards;
  animation-fill-mode: forwards;
}

p.introText {
  margin-top: 0px; 
  padding: 10px;
  font-family: "Verdana";
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  color: white;
  opacity: 1.0;

  animation-name: introAnim;
  animation-duration: 2s;
  animation-direction: forwards;
  animation-fill-mode: forwards;  /* keeps anim after finished */
}

@keyframes introAnim {
  0% {font-size: 92px; padding: 50px;}
  40% {font-size: 92px; padding: 50px;}
  100% {font-size: 28px; padding: 10px;}
}

@keyframes introOpAnim {
  0% {opacity: 0.0;}
  40% {opacity: 0.0;}
  100% {opacity: 1.0;}
}
