
body {
 background-color: black;
 padding: 0px;
 margin: 0px;
}
 /*
.introText {
  background-image: url(images/smallbanner20.gif);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  color: white;

  animation-name: introOpAnim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

p.introText {
  margin-top: 0px; 
  margin-bottom: 5px; 
  padding: 10px;
  font-family: "Verdana";
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  color: white;
  opacity: 1.0;
  background-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0) ,rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0));

  animation-name: introAnim;
  animation-duration: 2s;
  animation-fill-mode: forwards;  
}

@keyframes introAnim {
  0% {font-size: 92px; padding: 50px;}
  40% {font-size: 92px; padding: 50px;}
  100% {font-size: 28px; padding: 10px;}
}

@keyframes introOpAnim {
  0% {opacity: 0.0;}
  40% {opacity: 0.0;}
  100% {opacity: 1.0;}
}
*/
/* keeps anim after finished */

div.links {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*
  opacity: 0.0;
  animation-name: linkOpAnim;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  */
}

@keyframes linkOpAnim {
  0% {opacity: 0.0; margin-top: 20px;}
  60% {opacity: 0.0; margin-top: 20px;}
  100% {opacity: 1.0; margin-top: 0px;}
}

a.links {
  cursor: default;
}

button.links {
  padding: 10px;
  width: 110px;
  margin: 5px;
  align-content: center;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}

p.links {
  margin-top: 5px;
  margin-bottom: 0px;
}

p.links.gh {margin-top: 1px;} img.links.gh {padding-top: 3px;}
button.links.gh {
  padding-top: 3px;
  background-color: black;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: white;
}

button.links.gh:hover {
  background-color: white;
  color: black;
}


button.links.twt {
  background-color: rgba(29, 161, 242, 0);
  border-color: rgb(29, 161, 242);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: rgb(29, 161, 242);
}

button.links.twt:hover {
  background-color: rgba(29, 161, 242, 1);
  color: rgb(20, 23, 26);
}



button.links.ss {
  padding-top: 9px;
  background-color: rgba(255, 222, 26, 0);
  border-color: rgb(255, 222, 26);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: rgb(255, 222, 26);
}

button.links.ss:hover {
  background-color: rgba(255, 222, 26, 1);
  color: rgb(20, 23, 26);
}


button.links.bs {
  background-color: #000000;
  border-color: #37373a;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: white;
}

button.links.bs:hover {
  background-color: #37373a;
  color: white;
}


button.links.tv {
  background-color: black;
  border-color: #6441A5;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: #8d51fd;
}

button.links.tv:hover {
  background-color: #6441A5;
  color: white;
}

div.beatmaps {
  align-content: center;
  display: flex;
}

div.beatmap {
  background-color: rgb(41, 41, 41); 
  width: 30%;
  display: flex; 
  padding: 10px; 
  margin-left: 5%;
  margin-right: 5%;
}