
body {
 background-color: black;
 padding: 0px;
 margin: 0px;
}
 
.introText {
  background-image: url(images/smallbanner20.gif);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  color: white;

  animation-name: introOpAnim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

p.introText {
  margin-top: 0px; 
  margin-bottom: 5px; 
  padding: 10px;
  font-family: "Verdana";
  text-align: center;
  font-size: 38px;
  font-weight: 200;
  color: white;
  opacity: 1.0;
  background-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0) ,rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0));

  animation-name: introAnim;
  animation-duration: 2s;
  animation-fill-mode: forwards;  
}

@keyframes introAnim {
  0% {font-size: 92px; padding: 50px;}
  40% {font-size: 92px; padding: 50px;}
  100% {font-size: 38px; padding: 10px;}
}

@keyframes introOpAnim {
  0% {opacity: 0.0;}
  40% {opacity: 0.0;}
  100% {opacity: 1.0;}
}

@keyframes beatmaps {
  0% {font-size: 92px; padding: 50px; opacity: 0.0;}
  40% {font-size: 92px; padding: 50px; opacity: 0.0;}
  100% {font-size: 28px; padding: 10px; opacity: 1.0;}
}

@keyframes linkOpAnim {
  0% {opacity: 0.0; margin-top: 20px;}
  60% {opacity: 0.0; margin-top: 20px;}
  100% {opacity: 1.0; margin-top: 0px;}
}

div.bio{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 5px;
}

div.bio.block {
  background-color: #161618;
  border-radius: 20px;
  min-width: 300px;
  max-width: 700px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 15px;

  opacity: 0.0;
  animation-name: linkOpAnim;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

span.bio.text {
  font-family: "Verdana";
  font-size: 12px;
  font-weight: normal;
  color: rgb(235, 235, 235);
  opacity: 1.0;
  text-align: center;
  text-decoration: none;
  padding-left: 15px; padding-right: 15px;
}

p.bio.text.title {
  font-size: 28px;
  margin: 0px;
}

a.bio {
  font-size: 12px;
  margin: 0px;
  text-decoration: none;
  color: rgb(128, 195, 255);
}

a.bio:hover {
  color: rgb(74, 160, 236);
  text-decoration: underline;
}

.links-header {
  /*background-image: url(images/smallbanner20.gif);*/
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  color: white;

  animation-name: introOpAnim;
  opacity: 0.0;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

p.links-header {
  margin-top: 0px; 
  margin-bottom: 5px; 
  padding: 10px;
  font-family: "Verdana";
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  color: white;
  opacity: 1.0;
  /*background-image: linear-gradient(to right, rgba(255, 0, 0, 0.247),rgba(255, 255, 0, 0.39),rgba(3, 238, 3, 0.301),rgba(0, 255, 255, 0),rgba(0, 0, 255, 0.185),rgba(255, 0, 255, 0.3),rgba(255, 0, 0, 0.397));*/

  /* background-image: linear-gradient(to right, rgba(0,0,0,1) , rgba(0,0,0,1) ,rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,1), rgba(0,0,0,1)); */

  animation-name: beatmaps;
  opacity: 0.0;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.beatmaptext {
  /*background-image: url(images/smallbanner20.gif);*/
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  color: white;

  animation-name: introOpAnim;
  opacity: 0.0;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

p.beatmaptext {
  margin-top: 0px; 
  margin-bottom: 5px; 
  padding: 10px;
  font-family: "Verdana";
  text-align: center;
  font-size: 28px;
  font-weight: 200;
  color: white;
  opacity: 1.0;
  /*background-image: linear-gradient(to right, rgba(255, 0, 0, 0.247),rgba(255, 255, 0, 0.39),rgba(3, 238, 3, 0.301),rgba(0, 255, 255, 0),rgba(0, 0, 255, 0.185),rgba(255, 0, 255, 0.3),rgba(255, 0, 0, 0.397));*/

  /* background-image: linear-gradient(to right, rgba(0,0,0,1) , rgba(0,0,0,1) ,rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,1), rgba(0,0,0,1)); */

  animation-name: beatmaps;
  opacity: 0.0;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* keeps anim after finished */

div.links {
  padding-left: 5px;
  padding-right: 5px; 
  margin-top: 0px; 
  margin-bottom: 10px; 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  opacity: 0.0;
  animation-name: linkOpAnim;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  
}

a.links {
  cursor: default;
}

button.links {
  padding: 10px;
  width: 110px;
  margin: 5px;
  align-content: center;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}

p.links {
  margin-top: 5px;
  margin-bottom: 0px;
}

p.links.gh {margin-top: 1px;} img.links.gh {padding-top: 3px;}
button.links.gh {
  padding-top: 3px;
  background-color: black;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: white;
}

button.links.gh:hover {
  background-color: white;
  color: black;
}


button.links.twt {
  background-color: rgba(29, 161, 242, 0);
  border-color: rgb(29, 161, 242);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: rgb(29, 161, 242);
}

button.links.twt:hover {
  background-color: rgba(29, 161, 242, 1);
  color: rgb(20, 23, 26);
}



button.links.ss {
  padding-top: 9px;
  background-color: rgba(255, 222, 26, 0);
  border-color: rgb(255, 222, 26);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: rgb(255, 222, 26);
}

button.links.ss:hover {
  background-color: rgba(255, 222, 26, 1);
  color: rgb(20, 23, 26);
}


button.links.bs {
  background-color: #000000;
  border-color: #37373a;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: white;
}

button.links.bs:hover {
  background-color: #37373a;
  color: white;
}


button.links.tv {
  background-color: black;
  border-color: #6441A5;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  color: #8d51fd;
}

button.links.tv:hover {
  background-color: #6441A5;
  color: white;
}

div.beatmaps-container {
  align-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;

  opacity: 0.0;
  animation-name: linkOpAnim;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

div.beatmap {
  background-color: rgb(41, 41, 41); 
  border-radius: 10px;
  width: 350px;
  display: flex; 
  padding: 10px; 
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
}

img.beatmaps.cover {
  border-radius: 3%;
}

div.beatmaps.image {
  flex: 1;
}

div.beatmaps.votebar {
  margin-top: 2px;
}

p.beatmaps.votebar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13px;
  font-weight: 400;
  color: white;
  text-align: center;
  line-height: 16px;
  font-family: "Lato","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

div.beatmaps.title {
  flex: 2;
  padding-left: 15px;
  font-family: "Lato","-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
}

a.beatmaps.title:link, a.beatmaps.title:visited {
  color: rgb(0, 207, 138);
  text-decoration: none;
}

a.beatmaps.title:hover, a.beatmaps.title:active {
  color: rgb(0, 159, 118);
  text-decoration: underline;
}

p.beatmaps.title {
  margin-top: 2px;
  margin-bottom: 2px;
  
  color: #FFF;
  font-size: 12px;
}

div.beatmaps.buttons {
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 0px;
  word-wrap: break-word;
}

a.beatmaps.buttons {
  width: 30px;
  padding: 5px;
  display: block;
}

button.beatmaps.buttons {
  width: 30px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.116);
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}