/* #region keyframes */
@keyframes titletextanim {
    0% {font-size: 10vw; padding: 50px;}
    40% {font-size: 10vw; padding: 50px;}
    100% {font-size: 38px; padding: 10px;}
}
  
@keyframes opacityfade {
    0% {opacity: 0.0;}
    40% {opacity: 0.0;}
    100% {opacity: 1.0;}
}
  
@keyframes subtitleheader {
    0% {font-size: 32px; padding: 50px; opacity: 0.0;}
    40% {font-size: 32px; padding: 50px; opacity: 0.0;}
    100% {font-size: 28px; padding: 10px; opacity: 1.0;}
}
  
@keyframes linkOpAnim {
    0% {opacity: 0.0; margin-top: 20px;}
    60% {opacity: 0.0; margin-top: 20px;}
    100% {opacity: 1.0; margin-top: 0px;}
}
/* #endregion keyframes*/


p.introText {
    animation-name: titletextanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.introText {
    animation-name: opacityfade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

div.bio.block {
    opacity: 0.0;
    animation-name: linkOpAnim;
    animation-delay: 0.7s;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.links-header {
    animation-name: opacityfade;
    opacity: 0.0;
    animation-delay: 1.9s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

p.links-header {
    animation-name: subtitleheader;
    opacity: 0.0;
    animation-delay: 2.0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

div.links {
    opacity: 0.0;
    animation-name: linkOpAnim;
    animation-delay: 2.0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.beatmaps-header {
    animation-name: opacityfade;
    opacity: 0.0;
    animation-delay: 2.7s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

p.beatmaps-header {
    animation-name: subtitleheader;
    opacity: 0.0;
    animation-delay: 2.7s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

div.beatmaps-container {
    opacity: 0.0;
    animation-name: linkOpAnim;
    animation-delay: 2.7s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}